$breakpoints: (
  "phone": 599px,
  "tablet-portrait": 600px,
  "tablet-landscape": 960px,
  "desktop": 1280px,
  "big-desktop": 1920px,
) !default;

@mixin screen-max($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (max-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else {
    @warn "Unfortunately, '#{#breakpoint}' cannot be found. Available breakpoints are: #{map-keys$breakpoints}";
  }
}

@mixin screen-min($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else {
    @warn "Unfortunately, '#{#breakpoint}' cannot be found. Available breakpoints are: #{map-keys$breakpoints}";
  }
}
