* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    cursor: pointer
  }
}

button {
  background: none;
  border: none;
}

