@import 'variables';

.container {
  display: grid;
  grid-template-areas:
    "nav-bar top-bar" 
    "nav-bar main-view" 
    "player-bar player-bar";
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr auto;
  height: 100%;
  min-height: 100%;
  width: 100%;
  background-color: $background;
  color: $white;
}

.player {
  grid-area: player-bar;
}

.navbar {
  grid-area: nav-bar;
}

.topbar {
  grid-area: top-bar;
}

.main {
  grid-area: main-view;
}
