@import 'variables';

.container {
  background-color: $black;
  width: 380px;
  height: 100%;
  padding: 1.5rem;
  
  ul:not(:first-child) {
    margin-top: 1.5rem;

    &:last-child {
      border-top: 1px solid darken($white, 50%);
      margin-top: 1rem;
      padding-top: .5rem;
    }
  }

  li {
    list-style-type: none;
    color: $white;
    opacity: $hover-opacity;
    padding: .5rem 0;

    &:hover {
      transition: .25s linear;
      opacity: 1;
      cursor: pointer;
    }

    > a {
      display: flex;
      align-items: center;
      font-size: $small-font;
    }
  }
}

.iconButton {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 2px;
  margin-right: 1rem;
  
  &.whiteBackground {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: $white;
    color: $black;
    width: 24px;
    height: 24px;
  }

  &.gradient {
    background: linear-gradient(135deg,#450af5,#c4efd9);
  }
}

