
@import "variables";

.container {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  border-top: 1px solid #282828;

  > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
  }

  button {
    opacity: $hover-opacity;
    width: 32px;
    height: 32px;
    color: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: all 60ms cubic-bezier(.3,0,0,1);
  
    &:hover {
      opacity: 1;
    }
  }

  .buttonContainer {
    display: flex;
    gap: 1rem;

    button:disabled {
      opacity: $disabled-opacity;
    }

    .play {
      color: $black;
      background-color: $white;
      border-radius: 99%;

      &:hover {
        transform: scale(1.06);
      }

      svg {
        margin-left: 3px;
      }
    }
  }

  .barContainer {
    font-size: $smaller-font;
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }

  // SLIDER
  .sliderRoot {
    position: relative;
    display: flex;
    align-items: center;
    user-select: none;
    touch-action: none;
    width: 300px;

    &[data-orientation='horizontal'] {
      height: 20px;
    }

    &:hover .sliderThumb {
      box-shadow: 0 2px 2px $black;
      background-color: $white;
    }

    &:hover .sliderRange {
      background-color: $primary-color;
    }

    .sliderTrack {
      background-color: darken($white, 50);
      position: relative;
      flex-grow: 1;
      border-radius: 9999px;
  
      &[data-orientation='horizontal'] {
        height: 4px;
      }
    }
  
    .sliderRange {
      position: absolute;
      background-color: $white;
      border-radius: 9999px;
      height: 100%;
    }
    
    .sliderThumb {
      display: block;
      width: 1rem;
      height: 1rem;
      border-radius: 10px;
    }
  
    .sliderThumb:focus {
      outline: none;
      box-shadow: 0 0 0 5px var(--blackA8);
    }
  }

  .specialControlsContainer {
    flex-direction: row;

    .sliderRoot {
      width: 100px;
    }
  }
}


