
@import "variables";

div.songInfoContainer {
  flex-direction: row;
  gap: 1rem;

  & > div {
    display: flex;
    flex-direction: column;

    & a {
      font-size: $small-font;

      &:last-child {
        font-size: $smaller-font;
        opacity: $hover-opacity;
      }

      &:last-child:hover,
      &:hover {
        text-decoration: underline;
        opacity: 1;
      }
    }
  } 

  svg {
    opacity: $hover-opacity;

    &:hover {
      opacity: 1;
    }
  }
  
  svg.heartIcon {
    color: $primary-color;
    opacity: 1;
  }
}

.albumContainer {
  position: relative;

  .expand {
    z-index: 1;
    background-color: black;
    opacity: 0;
    width: 30px;
    height: 30px;
    border-radius: 99%;
    position: absolute;
    right: 5px;
    top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &:hover .expand {
    opacity: $hover-opacity;
  }
}
