@import "variables";

.container {
  grid-area: main-view;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;

  .iconButtons {
    display: flex;
    gap: 1rem;

    & > button {
      background: $black;
      border-radius: 99%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      width: 2rem;
      height: 2rem;

      &:disabled {
        opacity: $disabled-opacity;
        cursor: not-allowed;
      }

      & > svg {
        color: $white;
      }
    }
  }

  .profileButton {
    display: flex;
    gap: 8px;
    height: 1.6rem;
    align-items: center;
    justify-content: center;
    border-radius: 23px;
    background-color: black;
    color: $white;

    figure > div {
      position: relative;
      width: 1.6rem;
      height: 1.6rem;

      img {
        border-radius: 99%;
      }
    }

    svg {
      margin-right: 6px;
    }
    
    &:hover {
      background-color: lighten($black, 25%);
    }
  }

}